GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET_KEY"
ALLOWED_ORIGINS=http://localhost:*
EMAIL_CACHE_TTL=60
AI_CACHE_TTL=300
RATE_LIMIT_EMAILS=30
RATE_LIMIT_AI=20
RATE_LIMIT_SEND=15
FLASK_DEBUG=False
MONGO_URI="MONGO_URI"
OLLAMA_BASE_URL=https://ollama-on-render.onrender.com
GROQ_API_KEY="Yours_GROQ_API_KEY_Here"


